/* size, shape, color */
.jab-container{
  /*display: block;*/
  display: table;
  position: relative;
  padding: 10px;

  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 100;
  background-color: #000;
  color: #fff;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.jab-inline-el{
  display: none;
  position: relative;
  z-index: 2;
  margin-right: 6px;
  text-align: center;
}

.jab-inline-el:last-child{
  margin-right: 0;
}

/* maintain UI state */
.jab-show-duration .jab-text-duration,
.jab-show-status.jab-state-inactive .jab-text-play,
.jab-show-status.jab-state-pause .jab-text-resume,
.jab-show-status.jab-state-active .jab-text-pause,
.jab-show-icons.jab-state-inactive .jab-icon-play,
.jab-show-icons.jab-state-pause .jab-icon-resume,
.jab-show-icons.jab-state-active .jab-icon-pause{
  display: inline-block;
}

.jab-progress{
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.jab-show-progressbar.jab-state-active .jab-progress,
.jab-show-progressbar.jab-state-pause .jab-progress{
  display: block;
}

.jab-show-progressbar .jab-bar{
  width: 0;
  height: 100%;
  background-color: #7D7D7D;
  transition: width 0.4s ease;
}
