/* size, shape, color */
.jab-container{
  display: block;
  padding: 10px;

  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 100;
  background-color: #000;
  color: #fff;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.jab-inline-el{
  display: none;
  margin-right: 6px;
}

.jab-inline-el:last-child{
  margin-right: 0;
}

/* maintain UI state */
.jab-show-duration .jab-text-duration,
.jab-show-status .jab-text-status,
.jab-show-icons.jab-state-inactive .jab-icon-play,
.jab-show-icons.jab-state-pause .jab-icon-play,
.jab-show-icons.jab-state-active .jab-icon-pause{
  display: inline-block;
}
