.jab-container{
  display: block;
  font-size: 14px;
  line-height: 1;
  font-weight: 100;

  background-color: #000;
  color: #879cb4;
  border: 1px solid #4f7c9e;

  cursor: pointer;
}

.jab-icon{
  display: inline-block;
  font-family: arial, sans-serif;
}

.jab-text{
  display: inline-block;
}
